# DataFrame Operations

### Start a simple Spark Session

In [1]:
import org.apache.spark.sql.SparkSession

import org.apache.spark.sql.SparkSession

In [3]:
val spark = SparkSession.builder.getOrCreate()

spark: org.apache.spark.sql.SparkSession = org.apache.spark.sql.SparkSession@34aa3a4e

### Create a DataFrame from Spark Session read csv

In [5]:
val df = spark.read.options(Map(("header","true"),("inferSchema","true"))).csv("CitiGroup2006_2008")

df: org.apache.spark.sql.DataFrame = [Date: timestamp, Open: double ... 4 more fields]

### Show Schema

In [6]:
df.printSchema

root
 |-- Date: timestamp (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)

### Show head

In [9]:
df.head(5)

res3: Array[org.apache.spark.sql.Row] = Array([2006-01-03 00:00:00.0,490.0,493.8,481.1,492.9,1537660], [2006-01-04 00:00:00.0,488.6,491.0,483.5,483.8,1871020], [2006-01-05 00:00:00.0,484.4,487.8,484.0,486.2,1143160], [2006-01-06 00:00:00.0,488.8,489.0,482.0,486.2,1370250], [2006-01-09 00:00:00.0,486.0,487.4,483.0,483.9,1680740])

## FILTERING DATA

This import is needed to use the $-notation

In [10]:
import spark.implicits._

import spark.implicits._

### Grabbing all rows where a column meets a condition

In [11]:
df.filter($"Close" > 480).show(5)

+-------------------+-----+-----+-----+-----+-------+
|               Date| Open| High|  Low|Close| Volume|
+-------------------+-----+-----+-----+-----+-------+
|2006-01-03 00:00:00|490.0|493.8|481.1|492.9|1537660|
|2006-01-04 00:00:00|488.6|491.0|483.5|483.8|1871020|
|2006-01-05 00:00:00|484.4|487.8|484.0|486.2|1143160|
|2006-01-06 00:00:00|488.8|489.0|482.0|486.2|1370250|
|2006-01-09 00:00:00|486.0|487.4|483.0|483.9|1680740|
+-------------------+-----+-----+-----+-----+-------+
only showing top 5 rows

### Can also use SQL notation

In [12]:
df.filter("Close > 480").show(5)

+-------------------+-----+-----+-----+-----+-------+
|               Date| Open| High|  Low|Close| Volume|
+-------------------+-----+-----+-----+-----+-------+
|2006-01-03 00:00:00|490.0|493.8|481.1|492.9|1537660|
|2006-01-04 00:00:00|488.6|491.0|483.5|483.8|1871020|
|2006-01-05 00:00:00|484.4|487.8|484.0|486.2|1143160|
|2006-01-06 00:00:00|488.8|489.0|482.0|486.2|1370250|
|2006-01-09 00:00:00|486.0|487.4|483.0|483.9|1680740|
+-------------------+-----+-----+-----+-----+-------+
only showing top 5 rows

### Count how many results

In [16]:
df.filter($"Close" > 480).count

res9: Long = 325

### Can also use SQL notation

In [17]:
df.filter("CLose > 480").count

res10: Long = 325

### Multiple Filters

##### Note the use of triple === , this may change in the future!

In [19]:
df.filter($"High" === 480.0).show()

+-------------------+-----+-----+-----+-----+-------+
|               Date| Open| High|  Low|Close| Volume|
+-------------------+-----+-----+-----+-----+-------+
|2006-03-24 00:00:00|477.5|480.0|475.5|478.1| 869610|
|2007-10-02 00:00:00|478.3|480.0|472.8|478.6|3302511|
+-------------------+-----+-----+-----+-----+-------+

### Can also use SQL notation

In [20]:
df.filter("High = 480.0").show()

+-------------------+-----+-----+-----+-----+-------+
|               Date| Open| High|  Low|Close| Volume|
+-------------------+-----+-----+-----+-----+-------+
|2006-03-24 00:00:00|477.5|480.0|475.5|478.1| 869610|
|2007-10-02 00:00:00|478.3|480.0|472.8|478.6|3302511|
+-------------------+-----+-----+-----+-----+-------+

### Collect results into a scala object (Array)

In [21]:
val high484 = df.filter($"High" === 480.0).collect()

high484: Array[org.apache.spark.sql.Row] = Array([2006-03-24 00:00:00.0,477.5,480.0,475.5,478.1,869610], [2007-10-02 00:00:00.0,478.3,480.0,472.8,478.6,3302511])

In [22]:
high484

res14: Array[org.apache.spark.sql.Row] = Array([2006-03-24 00:00:00.0,477.5,480.0,475.5,478.1,869610], [2007-10-02 00:00:00.0,478.3,480.0,472.8,478.6,3302511])

### Operations and Useful Functions

http://spark.apache.org/docs/latest/api/scala/index.html#org.apache.spark.sql.functions$

### Examples of Operations

#### Pearson Correlation

In [24]:
df.select(corr("High","Low")).show()

+------------------+
|   corr(High, Low)|
+------------------+
|0.9992999172726325|
+------------------+

## Closing Spark Session

In [25]:
spark.stop()

## Thank You!